 
    <section class="Copyright Policy">
        
        <h1>Privacy Policy</h1>
        <div class="breadcrumb">
            <a   href="home">Home</a> &gt; <a href="terms">Terms & Conditions</a> &gt; Copyright Policy
        </div>
        <div class="policy-content">
            <p>
                Material featured on this platform may be reproduced free of charge. However, the material has to be reproduced accurately and not be used in a derogatory manner or a misleading context. Wherever the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material shall not extend to any material which is identified as being copyright of a third party (user-submitted content). Authorization to reproduce such material must be obtained from the copyright holder concerned.
            </p>
           
        </div>
    </section>
 
