<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="addscheme" (ngSubmit)="onSubmit()">
                        <h3 class="text-center text-success">Add Schemes</h3>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input
                              id="name"
                              formControlName="sname"
                              type="text"
                              class="form-control"
                              required
                            />
                            <div
                              *ngIf="
                                addscheme.get('sname')?.invalid && addscheme.get('sname')?.touched
                              "
                              class="text-danger"
                            >
                              <small *ngIf="addscheme.get('sname')?.errors?.['required']"
                                >SchemeName is required.</small
                              >
                            </div>
                          </div>
                      
                          <div class="form-group">
                            <label for="stype">Type:</label>
                            <input
                              id="stype"
                              formControlName="stype"
                              type="text"
                              class="form-control"
                              required
                            />
                            <div
                              *ngIf="
                                addscheme.get('stype')?.invalid && addscheme.get('stype')?.touched
                              "
                              class="text-danger"
                            >
                              <small *ngIf="addscheme.get('stype')?.errors?.['required']"
                                >type is required.</small
                              >
                              <small *ngIf="addscheme.get('stype')?.errors?.['type']"
                                >type must be valid.</small
                              >
                            </div>
                          </div>
                          <button
                          type="submit"
                          class="btn btn-success"
                          [disabled]="addscheme.invalid"
                        >
                          Add
                        </button>
                        <div class="home mt-2">
                          <span>Go Home?</span>
                          <Button class="btn" routerLink="/adminhome">Home</Button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>