<div class="top-bar">
  <div class="left">
    <div class="logos">
      <img src="assets/image/emblem-dark.png" alt="Logo" class="logo" />
    </div>
    <div class="govt-of-india">भारत सरकार<br />Government of India</div>
  </div>

  <div class="ministry-name">
    मेरा योजना <br />
    MY Scheme
  </div> 
  <!-- Login and Signup Buttons -->
  <div class="auth-buttons">
    <button class="login-btn" routerLink="/login">Login</button>
    <button class="signup-btn" routerLink="/signup">Signup</button>
  </div>
</div>
