<div class="schemes-section">
  <!-- Tab Navigation -->
  <ul class="tabs">
    <a href="schemes"><li class="tab active">All Schemes</li></a>
    <a href="allscheme" ><li class="tab " *ngIf="user">Applied Scheme</li></a>
  </ul>

  <p class="scheme-count">
    Total <strong>{{ allScheme.length }}</strong> schemes available
  </p>

  <div *ngFor="let scheme of allScheme; let i = index" class="scheme-item">
    <div class="scheme-name">
      <h3>{{ scheme.sname }}</h3>

      <button class="apply-button" *ngIf="user" routerLink="/apply">
        Register
      </button>
    </div>

    <p class="scheme-state">{{ scheme.stype }}</p>
  </div>
</div>
