 
    <section class="privacy">
        
        <h1>Contingency Management</h1>
        <div class="breadcrumb">
            <a   href="home">Home</a> &gt; <a href="terms">Terms & Conditions</a> &gt; Contingency Management
        </div>
        <div class="content">
            <p>
                The myScheme platform need to be functional and running at all times to provide information and services to the users. The myScheme platform is hosted by Amazon Web Services and AWS will make efforts to minimize the downtime of the platform as far as possible by taking immediate steps as and when required. In eventualities like defacement/hacking of the site, data corruption, hardware/software crash and natural disasters, AWS will make all efforts to restore the site in the shortest possible time. It is the responsibility of AWS to keep the platform data at a disaster recovery site located at a remote location for recovery purposes.
            </p>
        </div>
    </section>
 
