
 
<section class="policy">
        
    <h1>Monitoring Policy</h1>
    <div class="breadcrumb">
        <a   href="home">Home</a> &gt; <a href="terms">Terms & Conditions</a> &gt; Monitoring Policy
    </div>
    <div class="policy-content">
        <p>
            myScheme team will monitor the myScheme platform periodically to address and fix the quality and compatability issues namely, performance, functionality, broken links, traffic analysis and feedback from visitors.
        </p>
        
    </div>
</section>

