<div class="terms-container">
    <div class="terms-header">
      <h1>Terms & Conditions</h1>
      <nav>
        <a routerLink="/">Home</a> > <span>Terms & Conditions</span>
      </nav>
    </div>
  
    <div class="terms-content">
      <ul>
        <li><a routerLink="/Privacy-Policy">Privacy Policy</a></li>
        <li><a routerLink="/terms-of-use">Terms of Use</a></li>
        <li><a routerLink="/copyright-policy">Copyright Policy</a></li>
        <li><a routerLink="/hyperlink-policy">Hyperlinking Policy</a></li>
        <li><a routerLink="/security-policy">Security Policy</a></li>
        <li><a routerLink="/monitoring-policy">Monitoring Policy</a></li>
        <li><a routerLink="/contingency-management">Contingency Management</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
 