<div class="terms-container">
    <div class="terms-header">
      <h1>Terms & Conditions</h1>
      <nav>
        <a routerLink="/">Home</a> > <span>Terms & Conditions</span>
      </nav>
    </div>
  
    <div class="terms-content">
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Copyright Policy</a></li>
        <li><a href="#">Hyperlinking Policy</a></li>
        <li><a href="#">Security Policy</a></li>
        <li><a href="#">Monitoring Policy</a></li>
        <li><a href="#">Contingency Management</a></li>
      </ul>
    </div>
  </div>
  