.documents{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    margin-top: 100px;
    
    
}


.add_documents,.show_documents{
    background-color:#10c525;
    width: 40%;
    height: 60%;
    align-content: center;
    justify-items: center;
    border-radius: 5%;
}
button{
    background-color:#10c525;
    border: none;
    color: white;
    font-weight: 600;
    font-size: larger;
}

.show_documents:hover,.add_documents:hover{
    background-color: #02a212;
    cursor: pointer;
    button{
        background-color: #02a212;
    }
}