<div class="activities">
    <h3>Activities & Initiatives</h3>
    <div class="activities-box">
      <div class="activity">
        <img src="assets/image/manas_2.jpg" alt="MANAS">
        <p>Portal to raise awareness and establish a comprehensive platform for reporting and seeking assistance for drug-related issues.</p>
      </div>
      <div class="activity">
        <img src="assets/image/health_id.jpg" alt="Health ID">
        <p>Health ID - Key to your Digital Healthcare Journey.</p>
      </div>
    </div>
  </div>
  