<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="brand">
        <p>&copy;2024 <span class="brand-name">myScheme</span></p>
        <p>Powered by</p>
        <div class="powered-by">
          <img src="assets/image/digital-india-white.svg" alt="Digital India">
          <p>Digital India Corporation (DIC) <br> Ministry of Electronics & IT (MeitY) <br> Government of India ®</p>
        </div>
        <div class="social-links">
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-x-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="quick-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="about">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Screen Reader</a></li>
          <li><a href="#">Accessibility Statement</a></li>
          <li><a href="#">Frequently Asked Questions</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="useful-links">
        <h4>Useful Links</h4>
        <div class="logos">
          <img src="assets/image/di.webp" alt="Digital India">
          <img src="assets/image/digilocker.webp" alt="DigiLocker">
          <img src="assets/image/umang.webp" alt="UMANG">
          <img src="assets/image/indiaGov.webp" alt="India.gov.in">
          <img src="assets/image/myGov.webp" alt="MyGov">
          <img src="assets/image/dataGov.webp" alt="Data.gov.in">
          <img src="assets/image/igod.webp" alt="ICD">
        </div>
      </div>

      <div class="get-in-touch">
        <h4>Get in touch</h4>
        <p>
          4th Floor, NeGD, Electronics Niketan, 6 CGO Complex, Lodhi Road, New Delhi - 110003, India
        </p>
        <p>
          <a href="mailto:support-myscheme@digitalindia.gov.in">myScheme.gov.in</a>
        </p>
        <p>(011) 24303714</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Last Updated On: 18/10/2024 | v-2.1.12</p>
    </div>
  </div>
</footer>
