 
    <section class="policy">
        
        <h1>Terms of Use</h1>
        <div class="breadcrumb">
            <a   href="home">Home</a> &gt; <a href="terms">Terms & Conditions</a> &gt; Terms of Use
        </div>
        <div class="content">
            <p>
                These terms of use describe your rights and responsibilities as a user of the https://www.myscheme.gov.in . To have a myScheme account, you must accept these terms of use.
            </p><p>
                MeitY and Govt. of India reserve the right to make changes to myScheme and these terms of use at any time. If those changes affect your rights or responsibilities, you will be notified through myScheme.
            </p><p>   
                The following terms of use supersede and replace any terms and conditions you may have previously accepted governing your use of myScheme. The following Terms & Conditions come into effect as soon as you have accepted it and created your myScheme account.
            </p><p>   
                As a user of myScheme you are granted a nonexclusive, nontransferable, revocable, limited license to access and use myScheme and content following these Terms of Use. The provider may terminate this license at any time for any reason.
            </p><p>   
                myScheme is designed by NeGD & hosted by Amazon Web Services (AWS),and Contents are provided by the various Organizations, Departments, and Ministries of the Government of India.
            </p><p>  
                Though all efforts have been made to ensure the accuracy of the content on myScheme, the same should not be construed as a statement of law or used for any legal purposes. In case of any ambiguity or doubts, users are advised to verify/check with the concerned Ministry/Department/Organization and/or other source(s), and to obtain appropriate professional advice.
            </p><p>  
                Under no circumstances will the Government Ministry/Department/Organization be liable for any expense, loss, or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss, or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of myScheme.
            </p><p>   
                LIMITATION ON USE:
                Any unauthorized use of myScheme is prohibited. The use of any software (e.g. bots, scraper tools) or other automatic devices to access, monitor, or copy the platform pages is prohibited unless expressly authorized by the myScheme in writing.
            </p><p>  
                POLICY CONCERNING YOUR CONTENT:
                Uploading content or submitting any materials for use on myScheme, you grant (or warrant that the owner of such rights has expressly granted) myScheme a perpetual, worldwide, royalty-free, irrevocable, non-exclusive right and license, with a right to sublicense, to use, reproduce, modify, adapt, publish, publicly perform, publicly display, digitally display and digitally perform translate, create derivative works from and distribute such materials or incorporate such materials into any form, medium, or technology now known or later developed throughout the universe. You agree that you shall have no recourse against Provider for any alleged or actual infringement or misappropriation of any proprietary right in your communication to us.
            </p><p>  
                USER RESPONSIBILITY:
                You must:
            </p><p>  
                Be a natural person to access or seek to access myScheme or a Member Service;
                Not access or link to or seek to access or link to (either directly or indirectly) any other person's myScheme or Member Service account;
                Not permit any other person to use your username and password; keep your myScheme account username, and password, at all times and not disclose your password to anyone else;
                Report the HelpDesk immediately if you suspect that the security of your myScheme account may have been compromised e.g.: your password or username has been lost or stolen. Contact myScheme using the details at Contact Us;
                Ensure your details (including your name and date of birth) are accurate and keep up to date with myScheme;
                You are responsible for any use of your myScheme account using your username and password, whether or not such use has been authorized by you.
                Details on myScheme may only be accessed through the myScheme, and only using the username and authentication details that have been specifically allocated to you.
                You must use myScheme and your myScheme account only for lawful purposes and in a manner that does not infringe the rights of or restrict or inhibit the use of myScheme by any third party. This includes conduct that is unlawful or which may harass or cause distress or inconvenience to any person, the transmission of obscene or offensive content, or disruption to myScheme.
                INFORMATION THAT YOU PROVIDE ON myScheme:
                If within your myScheme account, you are asked to provide information, the information you supply must be complete and accurate. You acknowledge that if you supply incomplete, inaccurate, or false information, use myScheme to perform (or attempt to perform) an unauthorized action, or otherwise misuse myScheme, it may suspend or terminate your myScheme access.
            </p><p>
                Giving false or misleading information is a serious offense. Providing incomplete, inaccurate, or false information via myScheme will be treated in the same way as providing incorrect information on a form or in person and may result in prosecution and civil or criminal penalties.
            </p>
         
        </div>
    </section>
 
