<div class="news">
    <h3>News Highlights</h3>
    <div class="news-box">
      <h4>News & Press Releases</h4>
      <ul>
        <li>Shri Piyush Goyal urges industry associations to engage with...</li>
        <li>Text of the Vice-President's address at the Indian School...</li>
        <li>Ministry of Micro, Small & Medium Enterprises (MSME)...</li>
        <li>Union Minister Dr. Jitendra Singh says, People of Kashmir...</li>
        <li>INDIAN NAVY'S MOTORCYCLE EXPEDITION FLAGGED OFF</li>
        <li>ITU-WTSA 2024 organises ‘Safe Listening Workshop’ to advocate...</li>
        <li>PRESIDENT OF INDIA MEETS PRESIDENT OF MALAWI; LEADS DELEGATION...</li>
      </ul>
      <button class="more-news">more news...</button>
    </div>
  </div>
  