 
    <section class="policy">
        
        <h1>Security Policy</h1>
        <div class="breadcrumb">
            <a   href="home">Home</a> &gt; <a href="terms">Terms & Conditions</a> &gt; Security Policy
        </div>
        <div class="content">
            <p>
                The myScheme is hosted by Amazon Web Services(AWS). Therefore, all security issues related to the platform of this Department will be addressed by the NeGD. NeGD may carry out required security audits as and when required, as per security guidelines.
            </p>
            
        </div>
    </section>
 
