<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Government Services</title>
     
</head>
<body >
     

    <main>
        <section class="hero text-white">
            <h2 class="text-success">Explore Our Services</h2>
            <p style="color: black;">Your gateway to accessing government services online.</p>
        </section>

        <section class="service-list text-black" >
            <h2 >Available Services</h2>
            <div class="service-item">
                <h3><a href="service1.html" class="text-success">Online Application for Permits</a></h3>
                <p>Apply for various permits online, including building, zoning, and business permits.</p>
                <button routerLink="/schemes" >Access Service</button>
            </div>
            <div class="service-item">
                <h3><a href="service2.html" class="text-success"> Payment</a></h3> 
                <p> Make payments securely through our online portal.</p>
                <button  routerLink="/payments">Access Service</button>
            </div>
            <!-- <div class="service-item">
                <h3><a href="service3.html">Voter Registration</a></h3>
                <p>Register to vote or check your registration status online.</p>
                <button onclick="location.href='service3.html'">Access Service</button>
            </div> -->
            <div class="service-item">
                <h3><a class="text-success" href="service4.html">Public Records Request</a></h3>
                <p>Request access to public records and documents easily online.</p>
                <button onclick="location.href='service4.html'">Access Service</button>
            </div>
            <!-- Add more service items as needed -->
        </section>

        <section class="faq">
            <h2 class="text-success">Frequently Asked Questions</h2>
            <div class="faq-item">
                <h3>How do I apply for a permit online?</h3>
                <p>You can apply for a permit by visiting the Online Application for Permits section and filling out the required forms.</p>
            </div>
            <div class="faq-item">
                <h3>What are the payment method for accepting payments ?</h3>
                <p>We accept credit cards, debit cards, and electronic bank transfers for tax payments.</p>
            </div>
            <!-- Add more FAQs as needed -->
        </section>

         
    </main>

     
</body>
</html>