<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-scroolimage></app-scroolimage>
    <div class="data">
      <div class="main">
        <app-news-highlights></app-news-highlights>
      </div>
      <div class="main">
        <app-information></app-information>
      </div>
      <div class="main">
        <app-activities></app-activities>
      </div>
    </div>
  </body>
</html>
