body {
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin-top: 10px;
}
.left img {
  height: 75%;
   
  float: end;
  filter: drop-shadow(4px 6px 4px rgba(70, 68, 68, 0.341));
}
.right {
  text-align: justify;
  max-height: 100vh;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Stretch all items to match the tallest one */
  gap: 20px; /* Space between the sections */
}

.main {
  flex: 1; /* Make each section take up an equal amount of space */
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Ensure padding and border are included in the width/height */
  display: flex;
  flex-direction: column; /* Allow content to stack vertically */
}

.main h3 {
  margin-top: 0;
}

.main .content {
  flex-grow: 1; /* Make the content take up the remaining vertical space */
}

.more-news {
  margin-top: 10px;
  padding: 5px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}
.schemes-container {
  text-align: center;
  margin-top: 50px;
}

.find-button {
  background-color: #28a745;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
}

.schemes-cards {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 900px;
}

.card {
  background-color: #e6fff2;
  padding: 30px;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.card h2 {
  font-size: 36px;
  color: #000;
}

.card p {
  font-size: 16px;
  color: #000;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/* about */
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  background-color: #f9f9f9;
}

.about-text {
  flex: 1;
  max-width: 50%;
}

.about-text h2 {
  color: #2ca342;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
}

.btn-view-more {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.btn-view-more:hover {
  background-color: #218838;
}

.about-video {
  flex: 1;
  padding-left: 50px;
}

.about-video video {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}


