<nav class="navbar1">
    <ul *ngIf="name!='admin'">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about" >About Us</a></li>
      <li><a href="/notices">Notices</a></li>
      <li><a routerLink="/media">Media</a></li>
      <li><a href="/payments" *ngIf="name">Payments</a></li>
      <li *ngIf="type=='Contractor'"><a href="/tenders">Tenders</a></li>
      <li><a href="/schemes">Schemes</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/documents" *ngIf="name">Documents</a></li>
      <li><a href="/terms">Terms & Condition</a></li>
    </ul>
  </nav>
